:root {
  /* COLOR */
  --main-color:#19ce60;
  --main-dark-color:#15c654;
  --white-color:#fff;
  --black-color:#000;
  --grey-color:#808080;
  --secondary-color:#f7f9fa;
  --secondary-dark-color:#dae1e6;

  /* SIZE */
  --container-size: 1132px;
  /* FONT SIZE */
}

ul {
  list-style: none;
  padding-left: 0px;
}

header {
  display: flex;
  flex-direction: column;
}

header .search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
}

header .search-input {
  display: flex;
  border: 2px solid var(--main-color);
  align-items: center;
  height: 53px;
  width: 512px;
}

header .search-button {
  border: none;
  background-color: var(--main-color);
  color: #fff;
  padding: 1rem;
}

header .bar {
  border-top: 1px solid var(--secondary-dark-color);
  border-bottom: 1px solid var(--secondary-dark-color);
  padding: 4px;
}

header > .bar > .tap {
  width: var(--container-size);
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

body .main {
  width: var(--container-size);
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

body .news {
  width: 750px;
}

body .side {
  width: 350px;
}