:root {
  /* COLOR */
  --main-color:#19ce60;
  --main-dark-color:#15c654;
  --white-color:#fff;
  --black-color:#000;
  --grey-color:#808080;
  --secondary-color:#f7f9fa;
  --secondary-dark-color:#dae1e6;

  /* SIZE */

  /* FONT SIZE */
}

header {
  display: flex;
  justify-content: center;

}

body .main {
  display: flex;
}

ul {
  list-style: none;
}

header .search-box {
  display: flex;
  align-items: center;
  height: 160px;
}

header .search-input {
  display: flex;
  border: 2px solid #19ce60;
  align-items: center;
  height: 53px;
  width: 512px;
}

header .search-button {
  border: none;
  background-color: #19ce60;
  color: #fff;
  padding: 1rem;
}

body .bar .tap {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid var(--secondary-dark-color);
  border-bottom: 1px solid var(--secondary-dark-color);
  padding: 1rem;
}